= notice
-if @restaurants.any?
	- @restaurants.each do |restaurant| 
		%h1= restaurant.name
		= link_to "Show #{restaurant.name}", restaurant_path(restaurant), id: restaurant.name
		= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
		%h2 Description
		= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
		= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
		%ul
			- restaurant.reviews.each do |review|
				%li 
					="Rating: #{star_rating(review.rating)}. #{review.thoughts} created #{time_ago_in_words(review.created_at)} ago"
					= link_to "endorse this review", review_endorsements_path(review), class: 'endorsements-link'
					%span{class:"endorsements-count"}
						= "#{pluralize(review.endorsements.count, 'endorsement')}"

		%h2= "Average rating: #{star_rating(restaurant.average_rating)}"

-else
	%h1 This is where your restaurants will show
=link_to 'Add a restaurant', new_restaurant_path

